:root {
    --global-header-height: 70px;
    --header-height: 0px;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
